.modelos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $white;
    background-image: none;
    color: $black;
    @include txt-info-box();
    h2{
        margin-top: 20px;
    }
    hr{
        background-color: $black;
        width: 350px; 
    }
    p{
        margin-bottom: 5px;
    }
    div{
        width: 1200px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        a{
            margin-right: 20px;
            width: 370px;
//            height: 570px;
            height: 472px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    a{
        @include btn();
        width: 192px;
        height: 57px;
        line-height: 57px;
        margin: 20px 0 40px 0;
    }
    a:nth-child(3){
        margin: 20px 0 0 0;
    }
}
@media (max-width: 1200px) and (min-width: 1000px){
    .modelos{
        div{
            width: 100%;
            a{
                width: 300px;
                height: 400px;
            }
        }
    }
}
@media (max-width: 1000px) and (min-width: 0px){
    .modelos{
        p{
            margin-left: 0;
        }
        div{
            width: 100%;
            a{
                width: 45%;
                margin-right: 2.5%;
                margin-bottom: 40px;
                height: 600px;
            }
            a:nth-child(2){
                margin-right: 0;
            }
            a:last-child{
                width: 92.5%;
                height: 1400px;
            }
        }
        a{
            margin-top: 50px;
            line-height: 150px;
            width: 500px;
            height: 150px;
            font-size: 50px;
            margin-bottom: 150px;
        }
    }
}
@media (max-width: 625px) and (min-width: 0px){
    .modelos{
        hr{
            width: 50%;
        }
        div{
            a{
                height: auto;
            }
            a:last-child{
                height: auto;
            }
        }
        a{
            margin-bottom: 50px;
            height: 100px;
            width: 300px;
            line-height: 100px;
            font-size: 30px;
        }
    }
}
@media (max-width: 350px){
    .modelos{
        div{
            a{
                width: 92.5%;
                margin-bottom: 10px;
                margin-top: 10px;
            }
        }
        a{
            width: 120px;
            height: 50px;
            line-height: 50px;
            font-size: 15px;
        }
    }
}
@media (orientation: landscape) and (max-width:1000px){
    .modelos{
        div{
            a, a:nth-child(2), a:last-child{
                width: 28%;
                height: 400px;
                margin-right: 10px;
                margin-top: 20px;
            }
            a:last-child{
                margin-right: 0;
            }
        }
    }
}